@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #282828;
  --foreground: #ebdbb2;
  --accent-color: #fabd2f;
  --call-to-action: #fe8019;
  --grid-color: rgba(235, 219, 178, 0.08);
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --grid-color: rgba(255, 255, 255, 0.08);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent-color: var(--accent-color);
  --color-call-to-action: var(--call-to-action);
}

.bg-neo-grid {
  background-color: var(--background);

  background-image:
    linear-gradient(to right, var(--grid-color) 3px, transparent 2px),
    linear-gradient(to bottom, var(--grid-color) 3px, transparent 2px);

  background-size: 50px 50px;
}
